/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

:root {
  width: 100%;
}
.page {
  color: var(--main-font-color, #000);
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: var(--main-font-size, 18px);
  background-color: #fff;
  background-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(#d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--card-text-font-weight-normal, 400);
}

.header {
  display: grid;
  place-items: center;
  gap: 20px;
  width: var(
    --section-width,
    clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem)
  );
  margin: 100px auto;
  border: 2px solid var(--accent-color, #000);
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem)
    clamp(0rem, -2.6518rem + 11.3146vw, 7.53125rem);
  font-family: var(--accent-font, sans-serif);
  text-transform: uppercase;
  background-color: #fff;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.cards {
  width: var(
    --section-width,
    clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem)
  );
  margin: 0 auto;
}

.card {
  margin-bottom: 50px;
  border: 2px solid var(--accent-color, #000);
  background-color: #fff;
}

.card__title {
  padding: 5px 24px 5px 10px;
  font-size: var(--main-font-size, 18px);
  font-variation-settings: "wght" var(--card-text-font-weight-bold, 700);
}

.card__image-container {
  position: relative;
  border-top: 2px solid var(--accent-color, #000);
  border-bottom: 2px solid var(--accent-color, #000);
  overflow: hidden;
}

.card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.filter-low-saturate {
  filter: saturate(25%);
}

.filter-high-saturate {
  filter: saturate(400%);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-invert {
  filter: invert(80%);
}

.filter-sepia {
  filter: sepia(85%);
}

.filter-blur {
  filter: blur(15px);
}

.filter-multiple {
  filter: blur(2px) hue-rotate(90deg) opacity(80%);
}

.card__watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  text-shadow: 1px 0 var(--text-stroke-color, #fff),
    -1px 0 var(--text-stroke-color, #fff), 0 1px var(--text-stroke-color, #fff),
    0 -1px var(--text-stroke-color, #fff);
  mix-blend-mode: hard-light;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

@supports ((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .card__watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color, #fff);
    text-stroke: 1px var(--text-stroke-color, #fff);
  }
}

.card__description {
  padding: 25px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-bottom: 25px;
}

.card__like-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.card__icon-button {
  height: 38px;
  border: 2px solid transparent;
  padding: 0;
  transition: border 0.3s ease;
}

.card__icon-button .core {
  fill: transparent;
  transition: fill 0.3s 0.03s;
}

.card__icon-button .main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.card__icon-button .sparks {
  opacity: 0;
}

.card__icon-button .contour {
  transition: fill 0.1s linear;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, #000);
}

.card__icon-button:hover .core {
  fill: var(--accent-color, #000);
  transition: fill 0.3s;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color, #000);
  transition: fill 0.3s 0.05s;
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s 0.05s;
}

.like-icon {
  display: block;
  width: 39px;
  object-fit: cover;
  object-position: center;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: like-heart-scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: like-sparks-opacity 0.3s 0.3s ease-in;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color, #000);
  color: var(--button-color, #fff);
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  transition: box-shadow 0.3s ease, transform 0.5s ease-in-out;
  font-variation-settings: inherit;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: 0 0;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--accent-color, #000);
}

.button:hover::before {
  transform: scale(1);
}

.card__like-button {
  width: 130px;
  height: 38px;
  padding: 12.5px 37px;
  line-height: 90%;
}

.button__text {
  mix-blend-mode: difference;
}

.save-button {
  gap: 8px;
  width: clamp(19.125rem, 18.4648rem + 2.8169vw, 21rem);
  margin: 0 auto 103px auto;
  padding: 15px 0;
  line-height: 90%;
  background-color: #fff;
}

.floppy-image {
  width: 21px;
  height: 21px;
  object-fit: cover;
  object-position: center;
  mix-blend-mode: difference;
}

.popup-insert-floppy[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content;
  justify-content: end;
  align-items: center;
  row-gap: 28px;
  column-gap: 20px;
  width: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  max-width: initial;
  border: 2px solid var(--accent-color, #000);
  padding: 30px;
}

.popup-insert-floppy[open]::backdrop {
  opacity: 0.75;
  background: #000;
}

.popup-insert-floppy[open] .floppy-image {
  grid-column: 1;
  grid-row: 1;
  width: 39px;
  height: 39px;
  mix-blend-mode: normal;
}

.popup-insert-floppy__text {
  grid-column: 2;
  grid-row: 1;
  color: inherit;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.confirm-button {
  grid-column: span 2;
  grid-row: 2;
  width: 100%;
  padding: 11px 0;
}

.confirm-button__text {
  line-height: 90%;
  text-align: center;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .header {
    width: 100%;
  }

  .card {
    width: 100%;
  }

  .card__title {
    padding: 5px 10px 5px 10px;
  }

  .card__watermark {
    top: 23px;
    right: 12px;
  }

  .save-button {
    flex-direction: column;
  }

  .floppy-image {
    width: 28px;
    height: 28px;
  }

  .popup-insert-floppy[open] {
    gap: 30px 20px;
    padding: 30px 40px;
  }
}
